<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
      </div>
      <div class="rte">
        {% section 'IndexImage' %}
      <div>
    <section class="intro">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<img src="https://cdn.shopify.com/s/files/1/2600/6070/files/cup.png?7448806490894887688">
                    <h2 class="section-heading">HaitiCoffee invites you to share one of the best-kept secrets in the world of gourmet coffee.</h2>
                    <p class="text-light">Haiti’s Caribbean climate, the growing region’s mountain elevation, and the shade provided by the indigenous trees all provide the perfect growing 
                      environment for this precious bean. This naturally forest grown shade coffee is handpicked in Haiti and brought to you creating incomes and jobs for many Haitian men and women.</p>
                </div>
            </div>
     
      
    </section>
          
    <section class="intro2">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <img src="https://cdn.shopify.com/s/files/1/2600/6070/files/cup.png?7448806490894887688">
                    <h2 class="section-heading">Visualize Our Impact.</h2>
                    <p class="">Haiti Coffee was founded with the aim to rebuild the 
                      Haitian coffee industry and to help farmers redevelop their agricultural heritage 
                      as one of the world’s top coffee exporters. With the perfect climate, Haiti produces 
                      natural forest shade grown, hand-picked gourmet specialty Arabica coffee that is renowned
                      as an Espresso base, prized in specialty coffee houses.</p>
                </div>
            </div>
     
      
    </section>
          
              <section class="intro3">

            <div class="row">
              
                <div class="col-lg-8 col-lg-offset-2">
                  <img src="https://cdn.shopify.com/s/files/1/2600/6070/files/cup.png?7448806490894887688">
                    <h2 class="section-heading">Where To Meet.</h2>
                    <p class="text-light">Our Team is rooted In Haiti, and is comprised of Myriam Kaplan Pasternak (Nicasio CA), David Pierre-Louis based in (Seattle WA.) The Mervil Family. (Miami) and Makouti Agro Enterprise ( Haiti)</p>
                </div>
            </div>
     
      
    </section>
</div>
      </div>
    </div>
  </div>
</div>

