
<div>
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	<img src="https://cdn.shopify.com/s/files/1/2600/6070/files/cup.png?7448806490894887688">
                    <h2 class="section-heading">Learn about our process</h2>
                    <p class="text-light">Haiti’s Caribbean climate, the growing region’s mountain elevation, and the shade provided by the indigenous trees all provide the perfect growing 
                      environment for this precious bean. This naturally forest grown shade coffee is handpicked in Haiti and brought to you creating incomes and jobs for many Haitian men and women.</p>
                </div>
            </div>
        </div>
    </section>
</div>

{% schema %}
  {
    "name": "LearnProcess",
    "settings": [

	],"presets": [
      {
        "name": "LearnProcess",
        "category": "Image"
      }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
