<section class="content content-3">
        <div class="container">
			<h2 class="section-header">Our Partners</h2>
			<p class="lead text-muted">Haiti Coffee is working collaboratively in Haiti with other companies and NGO's to revitalize the coffee industry and to facilitate export. With the help of Haiti's own Makouti Agro Enterprise and Partners of the Americas Farmer to Farmer program, farmers now have a voice, access to knowledge and a route to access resources to redevelop their agricultural heritage to its former glory. Collaborating with Haiti Coffee.com, Inc. now provides the individual and the merchant the opportunity to have this unique java taste on hand direct from the farmers. Haiti Coffee is also committed to the rebirth of Haiti, formerly known as The Pearl of the Antilles.</p> 

                    
           
        </div>
        <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                            <a href="https://mesaprogram.org/"><img src="http://mesaprogram.org/wp-content/uploads/2017/07/HeaderLogo1.png" height="100" width="250" alt="" /></a>
                    </div>
                    <div class="slide">
                            <a href="https://www.kaytita.org/"><img src="https://uploads-ssl.webflow.com/58dad0a9e4118aa50b52b58c/58dad0a9e4118aa50b52b59b_Logo.png" height="100" width="250" alt="" /></a>
                    </div>
                   <div class="slide">
                            <a href="https://www.linkedin.com/company/almana-harvest/about/"><img src="https://media.licdn.com/dms/image/C560BAQES764dValiRQ/company-logo_400_400/0?e=1559779200&v=beta&t=uaJYxMCsz0yOV5Yqt-qNL0vTm973_JwSnrmVv50prkY" height="100" width="250" alt="" /></a>
                    </div>
                    <div class="slide">
                        <a href="http://www.makouti.com/"><img src="http://www.makouti.com/images/title_banner.jpg" height="100" width="250" alt="" /></a>
                    </div>
                </div>
            </div>
    </section>

{% schema %}
  {
    "name": "partners",
    "settings": [

	],"presets": [
      {
        "name": "partners",
        "category": "Image"
      }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
